<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.tpssystem.dao.InteractionMapper" >

    <insert id="insertOneInteraction" parameterType="Interaction" useGeneratedKeys="true" keyProperty="id">
    insert into interaction(interaction_id,version,trade_id,create_time)
    values(#{interaction_id},#{version},#{trade_id},#{create_time})
    </insert>
    <insert id = "addInteraction" parameterType="com.ssm.tpssystem.domain.Interaction" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO interaction (interaction_id, version, reject_code, reject_reason, trade_id, create_time)
        VALUES (#{interaction_id}, #{version}, #{reject_code}, #{reject_reason}, #{trade_id}, now())
    </insert>
    <select id="findInteractionByTrade" parameterType="com.ssm.tpssystem.domain.Trade" resultType="com.ssm.tpssystem.domain.Interaction">
        SELECT * FROM interaction
        WHERE trade_id = #{id}
    </select>
</mapper>
